<div class="animated fadeIn">

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <strong>Cadastrar</strong>
        </div>
        <div class="card-body">
          <form [formGroup]="form" class="m-b-50" id="form">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="nomeCluster">Nome:</label>
              <div class="col-md-9">
                <input type="text" id="nomeCluster" class="form-control" placeholder="" formControlName="nomeCluster">
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="images">Imagem:</label>
              <div class="col-md-9">
                <select class="form-control" id="image" formControlName="idImage">
                  <option [ngValue]="null">Selecione um Item</option>
                  <option *ngFor="let image of images" value="{{image.id}}">
                    {{image.name}}</option>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="flavors">Flavor:</label>
              <div class="col-md-9">
                <select class="form-control" id="flavor" formControlName="idFlavor">
                  <option [ngValue]="null">Selecione um Item</option>
                  <option *ngFor="let flavor of flavors" value="{{flavor.id}}">
                    RAM: {{flavor.ram}}MB / Disk: {{flavor.disk}}GB</option>
                </select>
              </div>
            </div>
          </form>
        </div>
        <div class="card-footer" style="text-align: right">
          <button type="submit" [disabled]="(!form.valid)" (click)="submit()" class="btn btn-sm btn-primary"><i
              class="fa fa-dot-circle-o"></i>
            Cadastrar</button>
          <button type="reset" (click)="handleReset()" class="btn btn-sm btn-danger"><i
              class="fa fa-ban"></i>Limpar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Lista de Clusters
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nome</th>
                <th>Imagem</th>
                <th>RAM/Disco</th>
                <th>Status</th>
                <th>Task</th>
                <th>Power</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td>Yiorgos Avraamu</td>
                <td>2012/01/01</td>
                <td>Member</td>
                <td>
                  <span class="badge badge-success">Active</span>
                  <progressbar class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic"
                    [max]="max" [type]="type">
                    {{type}}
                  </progressbar>
                </td>
                <td>
                  <div class="btn-group" dropdown>
                    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      Button dropdown <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                      <li class="divider dropdown-divider"></li>
                      <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr> -->
              <tr *ngIf="!servers?.length">
                <td colspan="7">Nenhum Cluster Encontrado</td>
              </tr>
              <tr *ngFor="let server of servers">
                <!-- <td>
                  <label>{{membro.operadorInterno.matricula}}</label>
                </td> -->
                <td>
                  <label>{{server.name}}</label>
                </td>
                <td>
                  <label>{{server.name}}</label>
                </td>
                <td>
                  <label>{{server.name}}</label>
                </td>
                <td>
                  <span *ngIf="server.status != 'ACTIVE'" class="badge badge-danger">{{server.status}}</span>
                  <span *ngIf="server.status == 'ACTIVE'" class="badge badge-success">{{server.status}}</span>
                </td>
                <td>
                  <!-- <span class="badge badge-info">{{server.task_state}}</span> -->
            
                  <progressbar *ngIf="server.task_state != null" class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic" [max]="max"
                  [type]="type">
                  {{server.task_state}}
                </progressbar>

                </td>
                <td>
                  <span *ngIf="server.power_state == 1" class="badge badge-success">RUNNING</span>
                  <span *ngIf="server.power_state == 3" class="badge badge-warning">PAUSED</span>
                  <span *ngIf="server.power_state == 4" class="badge badge-danger">SHUTDOWN</span>
                  <span *ngIf="server.power_state == 5" class="badge badge-danger">CRASHED</span>
                  <span *ngIf="server.power_state == 6" class="badge badge-warning">SUSPENDED</span>
                </td>
                <td>
                  <div class="btn-group" dropdown>
                    <button  [disabled]="processing"  dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
                      Ações <span class="caret"></span>
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                      <li role="menuitem"><a class="dropdown-item" href="#">Editar</a></li>
                      <li class="divider dropdown-divider"></li>
                        <li *ngIf="server.status == 'STOPPED' || server.status == 'SHUTOFF'" role="menuitem"><a class="dropdown-item" (click)="startCluster(server.id)">Iniciar Servidor</a></li>
                      <li *ngIf="server.status == 'ACTIVE' || server.status == 'SHUTOFF' || server.status == 'RESCUED'" role="menuitem"><a class="dropdown-item" (click)="stopCluster(server.id)">Parar Servidor</a></li>
                      <li *ngIf="server.status == 'ACTIVE' || server.status == 'SHUTOFF' || server.status == 'RESCUED'" role="menuitem"><a class="dropdown-item" (click)="rebootCluster(server.id)">Reiniciar Servidor</a></li>
                    </ul>
                  </div>
                  <!-- <button (click)="removerMembro(membro)" title="Excluir"
                    class='btn btn-info btn-just-icon btn-excluir'>
                    <i class="fa fa-trash"></i>
                    <div class='ripple-container'></div>
                  </button> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      Progress <small>dynamic</small>
    </div>
    <div class="card-body">
      <progressbar class="progress progress-striped progress-animated" [max]="max" [value]="dynamic">
        <span style="color:white; white-space:nowrap;">{{dynamic}} / {{max}}</span>
      </progressbar>

      <small><em>No animation</em></small>
      <progressbar class="progress progress-success" [value]="dynamic" [max]="100" type="success"><b>{{dynamic}}%</b>
      </progressbar>

      <small><em>Object (changes type based on value)</em></small>
      <progressbar class="progress-bar progress-bar-striped progress-bar-animated" [value]="dynamic" [max]="max"
        [type]="type">
        {{type}} <i *ngIf="showWarning">!!! Watch out !!!</i>
      </progressbar>
      <br>
      <button type="button" class="btn btn-sm btn-primary" (click)="random()">Randomize</button>
    </div>
  </div>

</div>